# Python
__pycache__/
*.py[cod]
*.egg-info/
*.so
*.DS_Store

# Virtual environment
venv/
.venv/
env/
.env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*~

# Operating System files
.DS_Store
Thumbs.db
Desktop.ini

# Other
local_settings.py
.env.*
